.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    user-select: none;
    font: var(--font-s-bold);
    opacity: 0.5;
}

.subText {
    margin-left: 20px;
}

.btn {
    font: var(--font-s);
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-top: 20px;

    @media (max-width: 920px) {
        width: 100%;
    }
}

.content {
    margin-top: 30px;

    @media (max-width: 920px) {
        margin-top: 50px;
    }
}
