.link {
    color: var(--secondary-color);
}

.listWrap {
    width: 70%;
    margin: 60px auto;

    @media (max-width: 920px) {
        margin: 5px auto;
        width: 80%;
    }
}

.list {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 920px) {
        margin: 5px auto;
        width: 100%;
    }
}

.tag {
    font: var(--font-l);
}

.spinner {
    margin-top: 60px;
}
