.AuthPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    background-color: var(--sidebar-bg);
}

.card {
    width: 35%;
    min-height: 45%;
    min-width: 45%;
    font: var(--font-s);
    padding: 30px 50px;

    @media (max-width: 920px) {
        height: 100%;
        width: 100%;
        padding: 0;
    }
}

.quations {
    margin-top: 20px;
}

.link {
    color: rgb(103 103 249);
}

.tag {
    font-size: 13px;
}

.input {
    width: 300px;
    font: var(--font-l);
}

.inputWrapper {
    height: 100%;

    @media (max-width: 920px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}

.btn {
    height: 40px;

    @media (max-width: 920px) {
        width: 100%;
    }
}
