.Navbar {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: var(--navbar-height);
    padding: 0 25px;
    background: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 6px 8px -5px rgb(34 60 80 / 10%);
}

.select {
    width: fit-content;
}

.logo {
    color: var(--secondary-color);
    z-index: 1000;
}

.logout {
    margin-left: auto;
}

.tag {
    margin-left: auto;
}
