.content {
    height: 60%;
}

.mainText {
    margin-bottom: 10px;

    @media (max-width: 920px) {
        margin-bottom: 55px;
        text-align: center;
        width: 100%;
    }
}

.usersListBtn {
    margin-top: 40px;
}
